/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

&mt {
  flavor = "tap-preferred";
  tapping_term_ms = <200>;
};

#define QW 0
#define NN 1
#define SY 2
#define FM 3

/ { 

	keymap {
		compatible = "zmk,keymap";
                
		QW {
			bindings = <
				&kp Q       &kp W       &kp E       &kp R       &kp T 			&kp Y       &kp U       &kp I       &kp O       &kp P 
				&mt LCTRL A &mt LSFT S  &mt LGUI D  &mt LALT F  &kp G 		  &mt LALT H  &mt RGUI J  &mt RSFT K  &mt RCTRL L &kp SEMI
				&kp Z       &kp X       &kp C       &kp V       &kp B		    &kp N       &kp M       &kp CMMA    &kp DOT     &kp MINUS
																						&kp BSPC    &lt 3 RET 	&lt 2 SPC  &lt 1 TAB
			>;
		};

		NN {
			bindings = <
				&none       &none         &none       &none       &none  			&none     &none    &none    &none      &none
				&none       &none         &none       &none       &none  		 	&none     &none     &none       &none    &none
				&none       &none         &none       &none       &none   	  &none       &none       &none     &none      &none
																						&none     &none   		&none      &none 
			>;
		};
		
		SY {
			bindings = <
				&none       &none         &none       &none       &none  			&none     &none    &none    &none      &none
				&none       &none         &none       &none       &none  		 	&none     &none     &none       &none    &none
				&none       &none         &none       &none       &none   	  &none       &none       &none     &none      &none
																						&none     &none   		&none      &none 
			>;
		};	
		
		FM {
			bindings = <
				&none       &none         &none       &none       &none  			&none     &none    &none    &none      &none
				&none       &none         &none       &none       &none  		 	&none     &none     &none       &none    &none
				&none       &none         &none       &none       &none   	  &none       &none       &none     &none      &none
																						&none     &none   		&none      &none 
			>;
		};	
        
	};
};
