/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

&mt {
  flavor = "tap-preferred";
  tapping_term_ms = <200>;
};

#define QW 0
#define NN 1
#define SY 2
#define FM 3

/ { 

	keymap {
		compatible = "zmk,keymap";
                
		QW {
			bindings = <
				&none       &none         &none       &none       &none  			&none     &none    &none    &none      &none
				&none       &none         &none       &none       &none  		 	&none     &none     &none       &none    &none
				&none       &none         &none       &none       &none   	  &none       &none       &none     &none      &none
																						&none     &none   		&none      &none 
			>;
		};

		NN {
			bindings = <
				&none       &none         &none       &none       &none  			&none     &none    &none    &none      &none
				&none       &none         &none       &none       &none  		 	&none     &none     &none       &none    &none
				&none       &none         &none       &none       &none   	  &none       &none       &none     &none      &none
																						&none     &none   		&none      &none 
			>;
		};
		
		SY {
			bindings = <
				&none       &none         &none       &none       &none  			&none     &none    &none    &none      &none
				&none       &none         &none       &none       &none  		 	&none     &none     &none       &none    &none
				&none       &none         &none       &none       &none   	  &none       &none       &none     &none      &none
																						&none     &none   		&none      &none 
			>;
		};	
		
		FM {
			bindings = <
				&none       &none         &none       &none       &none  			&none     &none    &none    &none      &none
				&none       &none         &none       &none       &none  		 	&none     &none     &none       &none    &none
				&none       &none         &none       &none       &none   	  &none       &none       &none     &none      &none
																						&none     &none   		&none      &none 
			>;
		};	
        
	};
};
